.App {
  text-align: center;
}

td {
  height: 80px;
}


td:hover {
  color: white;
  background-color: #f0f9fc;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

#top-nav {
  background-color: #0b1846;
}

.nav-button {
  display: flex;
  align-items: flex-start;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: calc(100px + 1vmin);
  background-color: #0b1846;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 1vmin);
  color: white;
  font-family: "Verdana", Geneva, sans-serif;
}

.selector-button {
  width: 200px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.monthevent:after {
  content: "";
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  background: #fff;
  position: absolute;
  box-shadow: 1px 4px 8px rgba(99, 99, 99, 0.5);
  z-index: -1;
  top: -10px;
  left: calc(50% - 10px);
}

ul li:hover {
  color: red;  /* or whatever colour you want */
}
